.date-time-modal {
  --width: 290px;
  --height: 400px;
  --border-radius: 10px;
}

.date-time-height {
  background-color: inherit;
  height: 400px;
}

.only-time-modal {
  --width: 290px;
  --height: 250px;
  --border-radius: 10px;
}

.only-time-height {
  height: 250px;
}
