.date-time-modal {
  --width: 290px;
  --height: 382px;
  --border-radius: 10px;
}

.date-time-height {
  height: 382px;
}

.only-time-modal {
  --width: 290px;
  --height: 250px;
  --border-radius: 10px;
}

.only-time-height {
  height: 250px;
}
