<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list class="custom-list" id="inbox-list">
          <!-- Account info -->
          <ion-list-header> {{ user?.fullname }} </ion-list-header>
          <ion-note class="not-bottom-padding"> {{ user?.email }}</ion-note>
          <br />
          <br />
          <br />
          <br />

          <!-- Menu -->
          <ng-container *ngFor="let page of pages">
            <!-- Si el menú item es de tipo admin, el usuario no debe tener el rol de USER, mostrar -->
            <!-- Si el menú item NO es de tipo admin, mostrar -->
            <ion-menu-toggle
              auto-hide="false"
              *ngIf="(page.admin && user?.role !== 'USER') || !page.admin"
            >
              <ion-item
                routerDirection="root"
                [routerLink]="[page.url]"
                lines="none"
                detail="false"
                routerLinkActive="selected"
              >
                <!-- [routerLinkActiveOptions]="{ exact: true }" -->
                <ion-icon slot="start" [src]="page.icon" [name]="page.icon"></ion-icon>
                <ion-label>{{ page.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ng-container>
        </ion-list>
        <!-- Log out -->
        <div class="menu-footer">
          <ion-button color="danger" (click)="logOut()" class="close-session" expand="block"
            >Cerrar sesión</ion-button
          >
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
