<ion-header>
  <app-toolbar [title]="toolbarTitle"></app-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="2">
      <ion-button fill="clear" (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="8" class="ion-text-center">
      <ion-text>
        <h5>{{ viewTitle }}</h5>
      </ion-text>
    </ion-col>
    <ion-col size="2">
      <ion-button fill="clear" (click)="next()">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <calendar
    [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)"
    (onCurrentDateChanged)="onCurrentDateChanged($event)"
    [monthviewDisplayEventTemplate]="cal_template"
    [monthviewEventDetailTemplate]="template"
    [markDisabled]="markDisabled"
    [noEventsLabel]="calendar.noEventsLabel"
    [startingDayMonth]="1"
  >
  </calendar>

  <ng-template #cal_template let-view="view" let-row="row" let-col="col">
    <div [class.with-event]="view.dates[row * 7 + col].events.length">
      {{ view.dates[row * 7 + col].label }}
    </div>
    <div
      class="event-indicator"
      *ngFor="let e of view.dates[row * 7 + col].events"
    ></div>
  </ng-template>

  <ng-template
    #template
    let-showEventDetail="showEventDetail"
    let-selectedDate="selectedDate"
    let-noEventsLabel="noEventsLabel"
  >
    <ion-list fullscreen>
      <ion-list-header>
        <ion-label>
          <h1>Reservas</h1>
        </ion-label>
      </ion-list-header>

      <ion-item *ngFor="let event of selectedDate.events">
        <ion-label *ngIf="differentDay(event); else sameDay">
          <ion-text>
            De {{ event.startTime | date: 'dd/MM/YYYY, HH:mm' }}
            <br />
            A {{ event.endTime | date: 'dd/MM/YYYY, HH:mm' }}
          </ion-text>
          <p>{{ event.owner.fullname }} - {{ event.owner.email }}</p>
        </ion-label>
        <ng-template #sameDay>
          <ion-label class="ion-text-wrap">
            <ion-text>
              De {{ event.startTime | date: 'HH:mm' }} a
              {{ event.endTime | date: 'HH:mm' }}
            </ion-text>
            <p>{{ event.owner.fullname }} - {{ event.owner.email }}</p>
          </ion-label>
        </ng-template>
        <ion-icon
          *ngIf="isMine(event.id); else notMine"
          slot="end"
          item-right
          name="person-outline"
        ></ion-icon>
        <ng-template #notMine>
          <ion-button
            [disabled]="alreadyStarted(event.id)"
            slot="end"
            (click)="selectReservation(event.id)"
          >
            <ion-icon item-right name="ticket-outline"></ion-icon>
          </ion-button>
        </ng-template>
      </ion-item>
      <ion-item *ngIf="selectedDate.events.length === 0">
        <ion-label>
          <h2>{{ noEventsLabel }}</h2>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-template>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="gotToCreateReservationPage()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
