<ion-header>
  <app-toolbar [title]="toolbarTitle"></app-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <ion-card>
          <div id="map" style="height: 300px"></div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <ion-card>
          <ion-card-content>
            <ion-list>
              <span *ngFor="let positionMarker of positionMarkers$ | async; let i = index">
                <ion-item (click)="toggle(i)">
                  <ion-label>
                    <strong>
                      {{ positionMarker.vehicle.brand }} {{ positionMarker.vehicle.model }}
                    </strong>
                  </ion-label>
                  <img class="car-icon" [src]="positionMarker.marker._icon.src" />
                </ion-item>
                <!-- Info -->
                <ion-list *ngIf="expanded[i]">
                  <ion-item>
                    <ion-label>
                      Última posición: {{ positionMarker?.position?.deviceTime | distance }}
                    </ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>
                      Velocidad:
                      {{ positionMarker?.position?.speed | toKph | number: '1.0-0' }}
                      km/h</ion-label
                    >
                  </ion-item>
                </ion-list>
              </span>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
