<ion-header>
  <app-toolbar [title]="toolbarTitle"></app-toolbar>
</ion-header>

<ion-content>
  <app-vehicle-information [vehicle]="vehicle"></app-vehicle-information>
  <ion-card class="border border-radius no-box-shadow ion-padding">
    <img *ngIf="photoUrl" class="max-width" [src]="photoUrl" alt="Foto del incidente" />
    <app-incident-type [type]="incident.type"></app-incident-type>
    <ion-card-header>
      <ion-card-subtitle>
        {{ vehicle.brand + ' ' + vehicle.model + ' ' + vehicle.number_plate | uppercase }}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>{{ incident.description }}</p>
      <ion-note>{{ incident.date_stored | essential | titlecase }}</ion-note>
    </ion-card-content>
    <ion-button expand="block" color="danger" (click)="goToReservationDetails()">
      Ir a la reserva
    </ion-button>
  </ion-card>
</ion-content>
