<ion-header>
  <app-toolbar [title]="toolbarTitle"></app-toolbar>
</ion-header>

<ion-content>
  <!-- *ngIf avoids load datetimes before initialize dates and diet -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>FECHA DE SALIDA Y LLEGADA</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <!-- Start date -->
      <app-datetime
        title="Inicio"
        [datetime]="initStart"
        [disabled]="diet?.completed"
        #start
      ></app-datetime>
      <hr style="background: grey" />
      <!-- End Date -->
      <app-datetime
        title="Fin"
        [datetime]="initEnd"
        [disabled]="diet?.completed"
        #end
      ></app-datetime>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>NÚMERO DE DIETAS</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{ calculateNumberOfDiets() }}
    </ion-card-content>
  </ion-card>
  <ion-button class="ion-margin ion-text-center" color="danger" expand="block" (click)="save()">
    <ion-icon class="ion-margin-end" name="save"></ion-icon> Guardar
  </ion-button>
</ion-content>
