<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Mis Reservas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="segmentChanged($event)" [(value)]="segmentValue">
    <ion-segment-button value="calendar">
      <ion-label>Calendario</ion-label>
    </ion-segment-button>
    <ion-segment-button value="list">
      <ion-label>Lista</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="segmentValue === 'calendar'; else list">
    <ion-row>
      <ion-col size="2">
        <ion-button fill="clear" (click)="back()">
          <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="8" class="ion-text-center">
        <ion-text>
          <h5>{{ viewTitle }}</h5>
        </ion-text>
      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear" (click)="next()">
          <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <calendar
      [eventSource]="eventSource"
      [calendarMode]="calendar.mode"
      [currentDate]="calendar.currentDate"
      (onTimeSelected)="onTimeSelected($event)"
      (onTitleChanged)="onViewTitleChanged($event)"
      [monthviewDisplayEventTemplate]="cal_template"
      [monthviewEventDetailTemplate]="template"
      [noEventsLabel]="calendar.noEventsLabel"
      [startingDayMonth]="1"
    >
    </calendar>

    <ng-template #cal_template let-view="view" let-row="row" let-col="col">
      <div [class.with-event]="view.dates[row * 7 + col].events.length">
        {{ view.dates[row * 7 + col].label }}
      </div>
      <div
        class="event-indicator"
        *ngFor="let e of view.dates[row * 7 + col].events"
      ></div>
    </ng-template>

    <ng-template
      #template
      let-showEventDetail="showEventDetail"
      let-selectedDate="selectedDate"
      let-noEventsLabel="noEventsLabel"
    >
      <ion-list fullscreen>
        <ion-list-header>
          <ion-label>
            <h1>Reservas</h1>
          </ion-label>
        </ion-list-header>

        <ion-item *ngFor="let event of selectedDate.events">
          <ion-icon
            slot="end"
            (click)="goToReservation(event.id)"
            name="arrow-forward-circle-outline"
          ></ion-icon>
          <ion-label>{{ event.vehicle }}</ion-label>
          <ion-label *ngIf="differentDay(event); else sameDay">
            de {{ event.startTime | date: 'dd/MM/YYYY, HH:mm' }}
            <br />
            a {{ event.endTime | date: 'dd/MM/YYYY, HH:mm' }}
          </ion-label>
          <ng-template #sameDay>
            <ion-label
              >de {{ event.startTime | date: 'HH:mm' }} a
              {{ event.endTime | date: 'HH:mm' }}</ion-label
            >
          </ng-template>
        </ion-item>
        <ion-item *ngIf="selectedDate.events.length === 0">
          <ion-label>
            <h2>{{ noEventsLabel }}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-template>
  </div>

  <ng-template #list>
    <ion-list fullscreen>
      <span *ngFor="let reservation of reservationsListMode">
        <ion-card
          [routerLink]="[reservation.id]"
          [ngClass]="
            alreadyStarted(reservation)
              ? 'border border-radius no-box-shadow ion-padding opaque'
              : 'border border-radius no-box-shadow ion-padding'
          "
        >
          <ion-item lines="none">
            <ion-badge slot="start"
              >{{ reservation.vehicle.brand }}
              {{ reservation.vehicle.model }}</ion-badge
            >
            <ion-badge
              color="warning"
              *ngIf="reservation.is_recurrent"
              slot="end"
              >Recurrente</ion-badge
            >
          </ion-item>
          <ion-card-content>
            <h1
              class="
                text-size-lg
                font-regular
                text-color-primary
                ion-text-wrap ion-padding-bottom
              "
            >
              {{ reservation.title }}
            </h1>
            <span class="text-size-sm font-medium text-color-primary">
              {{ reservation.start | date: 'dd/MM/yyyy HH:mm' }} -
              {{ getTimeReserved(reservation) }}
            </span>
          </ion-card-content>
        </ion-card>
      </span>
    </ion-list>
  </ng-template>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" [routerLink]="['create-by-date']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
