ion-content {
  --padding-top: 40%;
  --padding-start: 10%;
  --padding-end: 10%;

  --background: url('/assets/img/background/login.jpg') 0 0/100% 100% no-repeat;
}

.forgot-password-div {
  font-family: 'Noto Sans', serif;
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 3px;
  padding-top: 9px;
}

.forgot-password {
  border-radius: 4px;
  color: #1a73e8;
  display: inline-block;
  outline: 0;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  font-size: inherit;
  font-weight: inherit;
  font-weight: inherit;
  padding: 0;
  text-align: left;
  border: 0;
}
