<ion-header>
  <app-toolbar [title]="toolbarTitle"></app-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <!-- Type -->
    <ion-card>
      <ion-card-content>
        <ion-select placeholder="Tipo" interface="action-sheet" formControlName="dietType">
          <ion-select-option value="Gasolina">Gasolina</ion-select-option>
          <ion-select-option value="Parking">Parking</ion-select-option>
          <ion-select-option value="Peaje">Peaje</ion-select-option>
          <ion-select-option value="Alojamiento">Alojamiento</ion-select-option>
          <ion-select-option value="Otros">Otros</ion-select-option>
        </ion-select>
      </ion-card-content>
    </ion-card>

    <span [ngSwitch]="dietType.value">
      <app-gasoline-diet-form
        [initAmount]="diet.amount"
        [initLiters]="diet.liters"
        [initDescription]="diet.description"
        *ngSwitchCase="'Gasolina'"
      ></app-gasoline-diet-form>
      <app-common-diet-form
        [initAmount]="diet.amount"
        [initDescription]="diet.description"
        *ngSwitchDefault
      ></app-common-diet-form>
    </span>

    <ion-card *ngIf="photos.length === 0 && initPhotos.length === 0" class="new-msgs">
      <ion-card-content class="ion-text-center"> No tienes fotos añadidas </ion-card-content>
    </ion-card>

    <!-- Photos -->
    <ion-card *ngIf="photos.length > 0 || initPhotos.length > 0">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="6" *ngFor="let photo of initPhotos; let i = index">
              <div class="container">
                <img [src]="photo.url" />
                <ion-fab class="fab" vertical="top" horizontal="end" slot="fixed">
                  <ion-fab-button class="small-fab" color="danger" (click)="addToPhotosToRemove(i)">
                    <ion-icon name="close"></ion-icon>
                  </ion-fab-button>
                </ion-fab>
              </div>
            </ion-col>
            <ion-col size="6" *ngFor="let photo of photos; let i = index">
              <div class="container">
                <img [src]="photo" />
                <ion-fab class="fab" vertical="top" horizontal="end" slot="fixed">
                  <ion-fab-button class="small-fab" color="danger" (click)="removePhoto(i)">
                    <ion-icon name="close"></ion-icon>
                  </ion-fab-button>
                </ion-fab>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </form>

  <ion-button class="ion-margin ion-text-center" color="danger" expand="block" (click)="addPhoto()">
    <ion-icon class="ion-margin-end" name="camera"></ion-icon>
    <ion-label>Añadir foto</ion-label>
  </ion-button>

  <ion-button class="ion-margin ion-text-center" color="danger" expand="block" (click)="addDiet()">
    <ion-icon class="ion-margin-end" name="save"></ion-icon> Guardar
  </ion-button>
</ion-content>
