<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="register()" [formGroup]="credentials">
    <div class="input-group">
      <!-- Email -->
      <ion-item>
        <ion-input
          type="email"
          placeholder="Email"
          formControlName="email"
        ></ion-input>
      </ion-item>
      <div
        *ngIf="(email.dirty || email.touched) && email.errors"
        class="errors"
      >
        <span *ngIf="email.errors?.required">Email is required</span>
        <span *ngIf="email.errors?.email">Email is invalid</span>
      </div>
      <!-- Email -->
      <ion-item>
        <ion-input
          type="text"
          placeholder="Nombre completo"
          formControlName="fullname"
        ></ion-input>
      </ion-item>
      <div
        *ngIf="(fullname.dirty || fullname.touched) && fullname.errors"
        class="errors"
      >
        <span *ngIf="fullname.errors?.required">Fullname is required</span>
        <span *ngIf="password1.errors?.minlength"
          >Fullname needs to be 3 characters</span
        >
      </div>
      <!-- Password 1-->
      <ion-item>
        <app-show-hide-password>
          <ion-input
            type="password"
            placeholder="Password"
            formControlName="password1"
          ></ion-input>
        </app-show-hide-password>
      </ion-item>
      <div
        *ngIf="(password1.dirty || password1.touched) && password1.errors"
        class="errors"
      >
        <span *ngIf="password1.errors?.required">Password is required</span>
        <span *ngIf="password1.errors?.minlength"
          >Password needs to be 6 characters</span
        >
      </div>
      <!-- Password 2 (Confirm password)-->
      <ion-item>
        <app-show-hide-password>
          <ion-input
            type="password"
            placeholder="Confirm password"
            formControlName="password2"
          ></ion-input>
        </app-show-hide-password>
      </ion-item>
      <div
        *ngIf="(password2.dirty || password2.touched) && password2.errors"
        class="errors"
      >
        <span *ngIf="password2.errors?.required">Password is required</span>
        <span *ngIf="password2.errors?.minlength"
          >Password needs to be 6 characters</span
        >
      </div>
      <!-- Server url -->
      <ion-item>
        <ion-label>Servidor</ion-label>
        <ion-select formControlName="serverSelect">
          <span *ngFor="let server of availableServers">
            <ion-select-option value="{{ server.url }}">{{
              server.name
            }}</ion-select-option>
          </span>
        </ion-select>
      </ion-item>
    </div>
    <ion-button type="submit" expand="block" [disabled]="!credentials.valid"
      >Registrarse</ion-button
    >
  </form>
  <ion-button expand="block" [routerLink]="['..']">Ir a Iniciar sesión</ion-button>
</ion-content>
