<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Crear reserva</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Fecha de inicio</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <!-- Date Start -->
          <ion-col>
            <ion-text>
              <h2 (click)="openCalModal('start')">
                {{ startDate | date: 'dd/MM/yyyy' }}
              </h2>
            </ion-text>
          </ion-col>
          <!-- Time Start -->
          <ion-col>
            <ion-datetime
              displayFormat="HH:mm"
              minuteValues="0,15,30,45"
              [(ngModel)]="startTime"
            ></ion-datetime>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Fecha de fin</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <!-- End date -->
          <ion-col>
            <ion-text>
              <h2 (click)="openCalModal('end')">
                {{ endDate | date: 'dd/MM/yyyy' }}
              </h2>
            </ion-text>
          </ion-col>
          <!-- End hour and minutes -->
          <ion-col>
            <ion-datetime
              displayFormat="HH:mm"
              minuteValues="0,15,30,45"
              [(ngModel)]="endTime"
            ></ion-datetime>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <br />
  <!-- Vehicles -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ordenar por preferentes</ion-card-title>
    </ion-card-header>
    <ion-list>
      <ion-reorder-group
        (ionItemReorder)="doReorder($event)"
        disabled="false"
      >
        <ion-item *ngFor="let vehicle of vehicles" lines="none">
          <ion-label> {{ vehicle.brand }} {{ vehicle.model }} </ion-label>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>
      </ion-reorder-group>
    </ion-list>
  </ion-card>
  <form (ngSubmit)="create()" [formGroup]="form">
    <!-- Title Field -->
    <ion-item>
      <ion-input
        type="text"
        placeholder="Título"
        formControlName="title"
        required
      ></ion-input>
      <ion-label class="asterisk-required"></ion-label>
    </ion-item>
    <div *ngIf="(title.dirty || title.touched) && title.errors" class="errors">
      <span *ngIf="title.errors?.required">Este campo es obligatorio</span>
      <span *ngIf="title.errors?.maxlength"
        >El número de caracteres máximo es 100</span
      >
    </div>

    <!-- Description Field -->
    <ion-item>
      <ion-textarea
        formControlName="description"
        rows="8"
        cols="18"
        placeholder="¿Por qué necesitas este vehículo?"
      >
      </ion-textarea>
      <ion-label class="asterisk-required"></ion-label>
    </ion-item>
    <div
      *ngIf="(description.dirty || description.touched) && description.errors"
      class="errors"
    >
      <span *ngIf="description.errors?.required"
        >Este campo es obligatorio</span
      >
      <span *ngIf="description.errors?.maxlength"
        >El número de caracteres máximo 255</span
      >
    </div>

    <!-- Button -->
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-right">
          <ion-button type="submit" expand="block" [disabled]="!form.valid"
            >Reservar</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
