<ion-header>
  <app-toolbar [title]="toolbarTitle"></app-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Fecha de inicio</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <!-- Time Start -->
          <ion-col>
            <h2>
              <ion-datetime
                [presentation]="isRecurrent.value ? 'time' : 'date-time'"
                minuteValues="0,15,30,45"
                [(ngModel)]="start"
              ></ion-datetime>
            </h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Fecha de fin</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <!-- End hour and minutes -->
          <ion-col>
            <h2>
              <ion-datetime
                [presentation]="isRecurrent.value ? 'time' : 'date-time'"
                minuteValues="0,15,30,45"
                [(ngModel)]="end"
              ></ion-datetime>
            </h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <br />
  <!-- Vehicles -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ordenar por preferentes</ion-card-title>
    </ion-card-header>
    <ion-list>
      <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
        <ion-item *ngFor="let vehicle of vehicles" lines="none">
          <ion-avatar slot="start">
            <img src="/assets/icon/vehicles/blue-vehicle.png" />
          </ion-avatar>
          <ion-label>
            {{ vehicle.brand }} {{ vehicle.model }} {{ vehicle.number_plate }}
          </ion-label>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>
      </ion-reorder-group>
    </ion-list>
  </ion-card>
  <form [formGroup]="form">
    <!-- Title Field -->
    <ion-item>
      <ion-label>Título</ion-label>
      <ion-select formControlName="title">
        <ion-select-option *ngFor="let template of reservationTemplates" [value]="template.title">
          {{ template.title }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Description Field -->
    <ion-item>
      <ion-textarea
        formControlName="description"
        rows="8"
        cols="18"
        placeholder="¿Por qué necesitas este vehículo?"
      >
      </ion-textarea>
      <ion-label class="asterisk-required"></ion-label>
    </ion-item>
    <div *ngIf="(description.dirty || description.touched) && description.errors" class="errors">
      <span *ngIf="description.errors?.required">Este campo es obligatorio</span>
      <span *ngIf="description.errors?.maxlength">El número de caracteres máximo 255</span>
    </div>

    <ion-item>
      <ion-label>{{ isRecurrent.value ? 'Recurrente' : 'No Recurrente' }}</ion-label>
      <ion-toggle formControlName="isRecurrent"></ion-toggle>
    </ion-item>
  </form>
  <!-- Is recurrent -->
  <div *ngIf="isRecurrent.value">
    <!-- Weekdays -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Se repiten los días</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let weekday of weekdays" lines="none">
            <ion-label>{{ weekday.label }}</ion-label>
            <ion-checkbox slot="end" [(ngModel)]="weekday.isChecked"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Se termina</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <!-- Until date-->
          <ion-row class="ion-align-items-center">
            <ion-col>
              <ion-datetime
                presentation="date"
                minuteValues="0,15,30,45"
                [(ngModel)]="until"
              ></ion-datetime>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
  <!-- Button -->
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-right">
        <ion-button expand="block" [disabled]="!form.valid" (click)="create(isRecurrent.value)"
          >Reservar</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
