<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Detalles de tu reserva</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <ion-card class="border border-radius no-box-shadow ion-padding">
          <ion-item lines="none" class="transparent">
            <ion-badge slot="start"
              >{{ reservation.vehicle.brand }}
              {{ reservation.vehicle.model }}</ion-badge
            >
            <ion-badge
              color="warning"
              *ngIf="reservation.is_recurrent"
              slot="end"
              >Recurrente</ion-badge
            >
            <!-- <ion-note slot="end">{{ vehicle.brand }}</ion-note> -->
          </ion-item>
          <ion-card-content>
            <h1
              class="
                text-size-lg
                font-regular
                text-color-primary
                ion-text-wrap ion-padding-bottom
              "
            >
              {{ reservation.title }}
            </h1>
            <h3
              class="
                text-size-xs
                font-regular
                text-color-secondary
                ion-text-wrap
              "
            >
              {{ reservation.description }}
            </h3>
            <!-- <span class="text-size-sm font-medium text-color-primary">
              {{ reservation.date_stored | date: 'dd/MM/yyyy' }}
            </span> -->
          </ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col class="ion-text-center">
                <ion-button
                  [routerLink]="['create-incident']"
                  class="default-button color-accent ion-margin-top box-shadow"
                  color="danger"
                >
                  Reportar incidencia
                </ion-button>
              </ion-col>
              <ion-col
                class="ion-text-center"
                *ngIf="
                  !reservation.is_cancelled && !alreadyStarted(reservation)
                "
              >
                <ion-button
                  (click)="showCancelReservationAlert()"
                  class="default-button color-accent ion-margin-top box-shadow"
                  color="dark"
                >
                  Cancelar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card
          class="no-box-shadow ion-padding ion-text-center border border-radius"
        >
          <h2
            class="
              text-size-lg
              ion-padding-top ion-no-margin
              text-color-primary
            "
          >
            Desde
          </h2>
          <span class="text-size-xs">{{
            reservation.start | date: 'dd/MM/yyyy, HH:mm'
          }}</span>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card
          class="no-box-shadow ion-padding ion-text-center border border-radius"
        >
          <h2
            class="
              text-size-lg
              ion-padding-top ion-no-margin
              text-color-primary
            "
          >
            Hasta
          </h2>
          <span class="text-size-xs">{{
            reservation.end | date: 'dd/MM/yyyy, HH:mm'
          }}</span>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
