<ion-header>
  <app-toolbar [title]="toolbarTitle"></app-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <ion-card>
          <div
            *ngIf="isReservationOccurringNow()"
            id="map"
            style="height: 300px"
          ></div>
          <ion-item lines="none" class="transparent">
            <ion-badge slot="start"
              >{{ reservation.vehicle.brand }}
              {{ reservation.vehicle.model }}</ion-badge
            >
            <ion-badge
              color="warning"
              *ngIf="reservation.is_recurrent"
              slot="end"
              >Recurrente</ion-badge
            >
          </ion-item>
          <ion-card-content>
            <h1 class="reservation-title">
              {{ reservation.title }}
            </h1>
            <h3 class="ion-text-wrap">
              {{ reservation.description }}
            </h3>
          </ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col class="ion-text-center">
                <ion-button
                  [routerLink]="['create-incident']"
                  class="ion-margin-top"
                  color="danger"
                >
                  Reportar incidencia
                </ion-button>
              </ion-col>
              <ion-col
                class="ion-text-center"
                *ngIf="
                  !reservation.is_cancelled && !alreadyStarted(reservation)
                "
              >
                <ion-button
                  (click)="showCancelReservationAlert()"
                  class="ion-margin-top"
                  color="dark"
                >
                  Cancelar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Start - End -->
    <ion-row>
      <ion-col>
        <ion-card class="ion-text-center">
          <h2 class="title">Recogida</h2>
          <span>{{ reservation.start | date: 'dd/MM/yyyy, HH:mm' }}</span>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="ion-text-center">
          <h2 class="title">Entrega</h2>
          <span>{{ reservation.end | date: 'dd/MM/yyyy, HH:mm' }}</span>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Recurrent information -->
    <ion-card class="ion-text-center" *ngIf="reservation.is_recurrent">
      <h2 class="title">Se repite</h2>
      <ion-grid>
        <ion-row>
          <!-- Since -->
          <ion-col>
            <h2 class="title">Desde</h2>
            <span>{{ recurrent.since | date: 'dd/MM/yyyy' }}</span>
          </ion-col>
          <!-- Until -->
          <ion-col>
            <h2 class="title">Hasta</h2>
            <span>{{ recurrent.until | date: 'dd/MM/yyyy' }}</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h2 class="title">Los días</h2>
            <ion-grid>
              <ion-row>
                <ion-col
                  class="ion-padding-horizontal"
                  *ngFor="let weekday of weekdays"
                  >{{ weekday }}</ion-col
                >
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-grid>
</ion-content>
