<ion-header>
  <app-toolbar [title]="toolbarTitle"></app-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      Se solicitará el vehículo <b>{{ vehicle.brand }} {{ vehicle.model }}</b>
    </ion-label>
  </ion-item>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Fecha de inicio</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <!-- Start date -->
          <ion-col>
            <ion-text>
              <h2 (click)="openCalModal('start')">
                {{ startDate | date: 'dd/MM/yyyy' }}
              </h2>
            </ion-text>
          </ion-col>
          <!-- Start hour and minutes -->
          <ion-col>
            <h2>
              <ion-datetime displayFormat="HH:mm" minuteValues="0,15,30,45" [(ngModel)]="startTime">
              </ion-datetime>
            </h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Fecha de fin</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <!-- End date -->
          <ion-col>
            <ion-text>
              <h2 (click)="openCalModal('end')">
                {{ endDate | date: 'dd/MM/yyyy' }}
              </h2>
            </ion-text>
          </ion-col>
          <!-- End hour and minutes -->
          <ion-col>
            <h2>
              <ion-datetime displayFormat="HH:mm" minuteValues="0,15,30,45" [(ngModel)]="endTime">
              </ion-datetime>
            </h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <br />

  <form (ngSubmit)="createReservation()" [formGroup]="form">
    <!-- Title Field -->
    <ion-item>
      <ion-label>Título</ion-label>
      <ion-select formControlName="title">
        <ion-select-option *ngFor="let template of reservationTemplates" [value]="template.title">
          {{ template.title }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Description Field -->
    <ion-item>
      <ion-textarea
        formControlName="description"
        rows="8"
        cols="18"
        placeholder="¿Por qué necesitas este vehículo?"
      >
      </ion-textarea>
    </ion-item>
    <div *ngIf="(description.dirty || description.touched) && description.errors" class="errors">
      <span *ngIf="description.errors?.maxlength">El número de caracteres máximo 255</span>
    </div>

    <!-- Button -->
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-right">
          <ion-button type="submit" expand="block" [disabled]="!form.valid">Reservar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
