<ion-header>
  <app-toolbar [title]="toolbarTitle"></app-toolbar>
</ion-header>

<ion-content>
  <app-vehicle-information [vehicle]="vehicle"></app-vehicle-information>
  <!-- Start Date -->
  <ion-card>
    <ion-card-content>
      <app-datetime-modal
        title="Recogida"
        name="start"
        [datetime]="initStart"
        #startModal
      ></app-datetime-modal>
      <hr style="background: grey" />
      <!-- End Date -->
      <app-datetime-modal
        title="Entrega"
        name="end"
        [datetime]="initEnd"
        #endModal
      ></app-datetime-modal>
    </ion-card-content>
  </ion-card>

  <br />

  <form (ngSubmit)="createReservation()" [formGroup]="form">
    <!-- Title Field -->
    <ion-item>
      <ion-label>Título</ion-label>
      <ion-select formControlName="title">
        <ion-select-option *ngFor="let template of reservationTemplates" [value]="template.title">
          {{ template.title }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Description Field -->
    <ion-item>
      <ion-textarea
        formControlName="description"
        rows="8"
        cols="18"
        placeholder="¿Por qué necesitas este vehículo?"
      >
      </ion-textarea>
    </ion-item>
    <div *ngIf="(description.dirty || description.touched) && description.errors" class="errors">
      <span *ngIf="description.errors?.maxlength">El número de caracteres máximo 255</span>
    </div>

    <!-- Button -->
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-right">
          <ion-button color="danger" type="submit" expand="block" [disabled]="!form.valid">
            Reservar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
