<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="sendEmailToRecoverPassword()" [formGroup]="createRecoverPassword">
    <div class="input-group">
      <!-- Email -->
      <ion-item>
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
      <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
        <span *ngIf="email.errors?.required">Email is required</span>
        <span *ngIf="email.errors?.email">Email is invalid</span>
      </div>
    </div>
    <ion-button
      color="danger"
      type="submit"
      expand="block"
      [disabled]="!createRecoverPassword.valid || submitted"
      >Enviar email</ion-button
    >
  </form>
  <div class="email-sent" *ngIf="okReceived">
    <center>Introduzca el código enviado a su correo</center>
    <form (ngSubmit)="confirmCodeByEmail()" [formGroup]="confirmRecoverPassword">
      <div class="input-group">
        <!-- Email -->
        <ion-item>
          <ion-input type="text" placeholder="Código" formControlName="code"></ion-input>
        </ion-item>
      </div>
      <ion-button
        color="danger"
        type="submit"
        expand="block"
        [disabled]="!confirmRecoverPassword.valid"
        >Confirmar código</ion-button
      >
    </form>
  </div>
</ion-content>
