<ion-header>
  <app-toolbar [title]="toolbarTitle"></app-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card
      *ngFor="let incident of incidents"
      [routerLink]="[incident.id]"
      class="border border-radius no-box-shadow ion-padding"
    >
      <ion-item lines="none" class="transparent">
        <ion-badge
          >{{ incident.reservation.vehicle.brand }}
          {{ incident.reservation.vehicle.model }}
        </ion-badge>
        <app-incident-type [type]="incident.type"></app-incident-type>
      </ion-item>
      <ion-card-content>
        <h3 class="text-size-xs font-regular text-color-secondary ion-text-wrap">
          {{ incident.description }}
        </h3>
        <span class="text-size-sm font-medium text-color-primary">
          {{ incident.date_stored | date: 'dd/MM/yyyy, HH:mm' }}
        </span>
      </ion-card-content>
    </ion-card>

    <!-- No incidents -->
    <ion-card *ngIf="incidents.length === 0">
      <ion-card-content class="ion-text-center">
        Aún no tienes ninguna incidencia
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
