<ion-header>
  <app-toolbar [title]="toolbarTitle"></app-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <!-- Type -->
    <ion-card>
      <ion-card-content>
        <ion-select placeholder="Tipo" interface="action-sheet" formControlName="paymentType">
          <ion-select-option value="Gasolina">Gasolina</ion-select-option>
          <ion-select-option value="Parking">Parking</ion-select-option>
          <ion-select-option value="Peaje">Peaje</ion-select-option>
          <ion-select-option value="Alojamiento">Alojamiento</ion-select-option>
          <ion-select-option value="Otros">Otros</ion-select-option>
        </ion-select>
      </ion-card-content>
    </ion-card>

    <span [ngSwitch]="paymentType.value">
      <app-gasoline-payment-form *ngSwitchCase="'Gasolina'"></app-gasoline-payment-form>
      <app-common-payment-form *ngSwitchDefault></app-common-payment-form>
    </span>

    <ion-card *ngIf="!photo" class="new-msgs">
      <ion-card-content class="ion-text-center"> No se ha adjuntado ninguna foto </ion-card-content>
    </ion-card>

    <!-- Photos -->
    <ion-card *ngIf="photo">
      <img [src]="photo" />
      <!-- <ion-button (click)="removePhoto()" fill="clear">Eliminar foto</ion-button> -->
      <ion-button class="ion-text-center" color="danger" expand="block" (click)="removePhoto()">
        <ion-icon class="ion-margin-end" name="trash"></ion-icon>
        <ion-label>Eliminar foto</ion-label>
      </ion-button>
    </ion-card>

    <!-- Photos -->
    <!-- <ion-card *ngIf="photos.length > 0">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="6" *ngFor="let photo of photos; let i = index">
              <div class="container">
                <img [src]="photo" />
                <ion-fab class="fab" vertical="top" horizontal="end" slot="fixed">
                  <ion-fab-button class="small-fab" color="danger" (click)="removePhoto(i)">
                    <ion-icon name="close"></ion-icon>
                  </ion-fab-button>
                </ion-fab>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card> -->

    <!-- Demand Payment -->
    <ion-card>
      <ion-card-content>
        <ion-item lines="none">
          <ion-label>Reclamar gasto</ion-label>
          <ion-toggle formControlName="demand"></ion-toggle>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </form>

  <ion-button
    class="ion-margin ion-text-center"
    color="danger"
    expand="block"
    (click)="addPhoto()"
    [disabled]="isThereAPhoto"
  >
    <ion-icon class="ion-margin-end" name="camera"></ion-icon>
    <ion-label>Añadir foto</ion-label>
  </ion-button>

  <ion-button class="ion-margin ion-text-center" color="danger" expand="block" (click)="save()">
    <ion-icon class="ion-margin-end" name="save"></ion-icon> Guardar
  </ion-button>
</ion-content>
